* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

header {
  min-width: 32rem;
  max-width: 36rem;
  height: 36rem;
  background-image: url("../img/frame1-2-3/fondo_principal_mobile_1.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
header .container-icons-arrows {
  width: 30rem;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 20rem;
  left: 1rem;
}
header .container-icons-arrows svg {
  background-color: #FFFFFF;
  border-radius: 50%;
  font-weight: bold;
}
header .container-points-section {
  position: absolute;
  top: 32rem;
  left: 10.5rem;
  display: flex;
  width: 15rem;
  justify-content: space-evenly;
}

main {
  min-width: 32rem;
  max-width: 36rem;
  height: auto;
}
main .container-info_one {
  width: 32rem;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
}
main .container-info_one h2 {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 700;
  margin-top: 5rem;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  line-height: normal;
}
main .container-info_one p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 5rem;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  line-height: normal;
}
main .container-info_one .register-button {
  width: 239px;
  height: 44px;
  border-radius: 17px;
  background: #2D506C;
  box-shadow: 0px 4px 4px 0px rgba(183, 164, 164, 0.25);
  color: #FFFDFD;
  font-size: 1.7rem;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  line-height: normal;
  margin-top: 3rem;
  font-weight: 400;
}
main .container-info_one .container-password_login {
  display: flex;
  gap: 1.5rem;
}
main .container-info_one .container-password_login span {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 1.2rem;
  font-weight: 400;
}
main .container-info_one .container-password_login h3 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 1.3rem;
  font-weight: 700;
}
main .container-info_two {
  width: 32rem;
  height: 32rem;
  margin: 0 auto;
  margin-top: 5rem;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 3rem 5rem 23rem;
}
main .container-info_two h2 {
  color: #286290;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 1.7rem;
}
main .container-info_two p {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
  font-size: 1.5rem;
}
main .container-info_two .container-imagen_down {
  display: flex;
  align-items: center;
}
main .container-info_two .container-imagen_down .enter-here {
  width: 120px;
  height: 44px;
  border-radius: 17px;
  background: #2D506C;
  box-shadow: 0px 4px 4px 0px rgba(183, 164, 164, 0.25);
  color: #FFFFFF;
}
main .container-info_three {
  width: 32rem;
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}
main .container-info_three h2 {
  color: #286290;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 1.7rem;
  font-weight: 700;
}
main .container-info_three .container-imagen_down {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
main .container-info_three .container-imagen_down .enter-here {
  width: 120px;
  height: 44px;
  border-radius: 17px;
  background: #2D506C;
  box-shadow: 0px 4px 4px 0px rgba(183, 164, 164, 0.25);
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
