$fuente1:'Lato', sans-serif;
$fuente2:'Oswald',sans-serif;

$color-h1:#333333;
$color-h2:#939393;
$color-p:#747474;
$color-placeholder:#625E5E;
$color-claro:#FFFFFF;
$color-oscuro:#000000;
$color-arrows: #415d86;

$fondo-button-secundario:#27445bbd;
$box-shadow-button-secundario:#7e787840;
$box-shadow-button-primario:#B7A4A4;
$box-shadow-input:#7E7878;

$font-size-input:1.2rem;
$font-size-h1:2.7rem;
$font-size-h2:2.6rem;
$font-size-h3:2.5rem;
$font-size-button:2.4rem;

*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}
header{
    width:100vw;
    max-width: 100rem;
    min-width: 32rem;
    margin: auto;
}

main {
    width: 100vw;
    max-width: 100rem;
    min-width: 32rem;
}

.header__wave{
    height:100px;
}
a{
    text-decoration: none;
}
h1{
    color: $color-h1;
    font-family: $fuente1;
    font-size: $font-size-h1;
}
h2{
    font-family: $fuente2;
    font-weight: 700;
    line-height: 3.4rem;
    font-size: $font-size-h2;
    color: $color-h2;
}
h3{
    font-family: $fuente2;
    font-weight: 700;
    line-height: 25px;
    font-size: $font-size-h3;
    color: $color-oscuro;
    text-align: center;
}
input,p, button{
    font-family:$fuente2;
}

p{
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 20px;
    color: $color-p;
    text-align: center;
}

input, button{
    border-radius: 2rem;
}

input {
    width: 100%;
    padding: 3rem;
}
input::placeholder {
    color: $color-placeholder;
    font-size: $font-size-input;
    font-weight: 400;
    line-height: 2.1rem;
}
button{
    width: 255px;
    height:58px;
    color: $color-claro;
    line-height: 3.1rem;
    font-size: $font-size-button;
}

h1, button{
    font-weight: 700;
}