$fuente1:'Lato', sans-serif;
$fuente2:'Oswald',sans-serif;

$color-h1:#333333;
$color-h2:#939393;
$color-p:#747474;
$color-placeholder:#625E5E;
$color-claro:#FFFFFF;
$color-oscuro:#000000;
$color-arrows: #415d86;
$fondo-button-primario: #2D506C;
$fondo-button-secundario:#27445bbd;


$font-size-input:1.2rem;
$font-size-h1:2.7rem;
$font-size-h2:1.7rem;
$font-size-h3:1.3rem;
$font-size-span: 1.2rem;
$font-size-p: 1.5rem;
$font-size-button:1.7rem;