@use './_globales';
header{
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    picture{
        display: inline-block;
        width: 100%;
        height: auto;
        img{
            width: 100%;
            height: auto;
        }
    }
    .header__wave{
        position: absolute;
        width: 100%;
        bottom: -2.7rem;
    }
}

main {
    display: grid;
    place-items: center;
    grid-auto-columns: 100%;
    grid-template-rows: 19% 62% 16%;
    overflow: hidden;
    height: 43rem;
    .main__input {
        position: relative;
        display: grid;
        grid-template-columns: 258px;
        grid-auto-rows: 83px;
        gap: 1rem;
        input {
            background-color: rgba(5, 5, 5, 0.05);
            border: 0.1rem solid #FFFFFF;
            box-shadow: 0 0.4rem 0.4rem #7e7878;
            height: 6rem;
        }
        .fa-solid{
            position: absolute;
        }
        .fa-envelope,.fa-unlock,.fa-lock{
            left: 1.2rem;
        }
        .fa-envelope{
            top: 2.8rem;
        }
        .fa-unlock{
            top: 12rem;
        }
        .fa-lock{
            top:21.3rem;
        }
    }
    .main__button-secondario {
        background: rgba(39, 68, 91, 0.74);
        border: 1px solid #FFFFFF;
        box-shadow: 0px 4px 4px rgba(126, 120, 120, 0.25);
    }
}
